@charset "UTF-8";
/*
0 - 600 px          Phone
600 - 900 px        Tablet portrait
900 - 1200 px       Tablet Landscape
1200 - 1800 px      Desktop
1800+               Big Desktop
// Type-1
@mixin respond-phone {
    @media (max-width: 600px) { @content };
}
$breakpoint arguement choice:
-phone
-tab-port
-tab-land
-big-desktop


// 1em = 16px
// เริ่มจากหน้าจอมือถือ

@mixin respond($breakpoint) { //ใน breakpoint ใส่ phone/tab-land/tab-port เป็นต้น
    @if $breakpoint == phone-port {
        @media (min-width: 20.05em) { @content };  // 320px พอดี
    }

    @if $breakpoint == phone-land {
        @media (min-width: 30.05em) { @content };  // 480px พอดี
    }

    @if $breakpoint == tab-port {
        @media (min-width: 48.05em) { @content }; // 768px พอดี
    }

    @if $breakpoint == tab-land {
        @media (min-width: 64.05em) { @content }; // 1024px พอดี
    }

    @if $breakpoint == desktop {
        @media (min-width: 80.05em) { @content }; // 1280px พอดี
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 90.05em) { @content }; // 1440px พอดี
    }
}
*/
@font-face {
  font-family: "Work-Regular";
  src: url("./fonts/WorkSans-Regular.ttf"); }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  font-family: 'Work-Regular'; }

.container-fluid {
  margin: 0px !important;
  padding: 0px !important; }

.row {
  margin: 0px !important;
  padding: 0px !important; }

@keyframes navbarSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes arrowSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes arrowSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes IconRotateY {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(90deg); }
  100% {
    transform: rotateY(0deg); } }

@keyframes overlayInfo-active {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@keyframes overlayInfo {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes overlayInfoSlidetoRight {
  0% {
    transform: translateX(-40%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes overlayInfoSlidetoLeft {
  0% {
    transform: translateX(40%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes overlayform-1toLeft {
  0% {
    left: 10%;
    opacity: 0;
    display: none; }
  100% {
    left: 0%;
    opacity: 1;
    display: block; } }

@keyframes overlayform-1toRight {
  0% {
    left: 0%;
    opacity: 1;
    display: block; }
  100% {
    left: 10%;
    opacity: 0;
    display: none; } }

@keyframes overlayformSlidetoLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
    display: block; }
  100% {
    transform: translateX(-10%);
    opacity: 0;
    display: none; } }

@keyframes overlayformSlidetoRight {
  0% {
    transform: translateX(-10%);
    opacity: 0;
    display: none; }
  100% {
    transform: translateX(0%);
    opacity: 1;
    display: block; } }

@keyframes heightDown {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@keyframes heightUp {
  0% {
    height: 100%; }
  100% {
    height: 0%; } }

@keyframes RotateX {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(-70deg); }
  100% {
    transform: rotateX(0deg); } }

.navbar {
  background-color: #861818; }
  .navbar-brand {
    text-align: center !important; }
    .navbar-brand .logo-content {
      background-color: white;
      width: 8rem;
      height: 8rem;
      position: relative;
      border-radius: 50%; }
      .navbar-brand .logo-content img {
        width: 12rem;
        height: 10rem;
        padding: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .navbar-toggler .logo-content {
    background-color: white;
    width: 9rem;
    height: 9rem;
    position: relative;
    border-radius: 50%; }
    .navbar-toggler .logo-content img {
      width: 10rem;
      height: 8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .navbar-nav {
    margin-left: auto;
    margin-right: 5rem;
    animation: navbarSlideUp 1s; }
    .navbar-nav .nav-item {
      margin-left: 2rem;
      font-size: 1.7rem;
      font-weight: bold;
      padding: 0;
      border-radius: 1rem; }
      .navbar-nav .nav-item .nav-link {
        padding: 3rem 2rem !important;
        color: white; }
      .navbar-nav .nav-item:hover {
        background-color: white;
        transition: all .3s; }
        .navbar-nav .nav-item:hover .nav-link {
          color: #861818;
          text-shadow: 1px 1px 2px #a74242; }

footer {
  background-color: #861818;
  padding: 1rem 0;
  min-height: 4vh;
  position: static;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center; }
  footer img {
    margin: 1rem 0;
    border-radius: 50%;
    height: 7rem; }
  footer .icon-zone .brandLink {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding: 0; }
    footer .icon-zone .brandLink a {
      color: white;
      width: 100%;
      height: 100%;
      margin: 0 .5rem; }
    footer .icon-zone .brandLink .brandIcon {
      font-size: 20rem;
      padding: 10px;
      transition: all .5s ease-out; }
    footer .icon-zone .brandLink .line-icon {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 1;
      height: 0%;
      opacity: 0;
      border-radius: 5px;
      transition: all .5s ease-out; }
    footer .icon-zone .brandLink:hover a {
      color: #861818; }
    footer .icon-zone .brandLink:hover .line-icon {
      opacity: 1;
      height: 100%; }
      footer .icon-zone .brandLink:hover .line-icon .brandIcon {
        transition: all .5s ease-out; }

.Slide-container .each-slide {
  width: 100%;
  pointer-events: none;
  user-select: none;
  position: relative; }
  .Slide-container .each-slide img {
    width: 100%;
    height: 100%; }
  .Slide-container .each-slide .slideContent-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    pointer-events: initial; }
  .Slide-container .each-slide .slideContent-2 {
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: start;
    pointer-events: initial; }
  .Slide-container .each-slide .slideContent-3 {
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: start;
    color: black;
    pointer-events: initial; }

.Slide-container .Arrow {
  color: #a74242;
  font-size: 4rem;
  cursor: pointer;
  padding-top: 5vh;
  padding-bottom: 5vh; }
  .Slide-container .Arrow:hover {
    transition: all .5s;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
  .Slide-container .Arrow-prev {
    margin-right: -30px;
    padding-left: 10px !important;
    animation: arrowSlideLeft 1s; }
  .Slide-container .Arrow-next {
    margin-left: -30px;
    padding-right: 10px !important;
    animation: arrowSlideRight 1s; }

.Slide-container .indicator {
  border-radius: 50%;
  margin: -9vh .3rem 0 .3rem;
  height: 12px;
  width: 12px;
  background-color: white;
  z-index: 3;
  cursor: pointer; }
  .Slide-container .indicator.active {
    background-color: #646464; }

.contain-login {
  background-image: url("./images/Piclogin.jpg");
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh; }
  .contain-login .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 1px 1px 8px 2px #464646;
    min-height: 50vh; }
    .contain-login .contain .overlay-info {
      background-color: #861818;
      color: white;
      padding: 2rem;
      text-align: center;
      z-index: 3; }
      .contain-login .contain .overlay-info-disable {
        animation: overlayInfo 1s;
        transform: translateX(0); }
      .contain-login .contain .overlay-info-active {
        animation: overlayInfo-active 1s;
        transform: translateX(100%); }
      .contain-login .contain .overlay-info-signup {
        display: block; }
        .contain-login .contain .overlay-info-signup-disable {
          display: block;
          animation: overlayInfoSlidetoRight 1s; }
        .contain-login .contain .overlay-info-signup-active {
          display: none; }
      .contain-login .contain .overlay-info-signin {
        display: none; }
        .contain-login .contain .overlay-info-signin-disable {
          display: none; }
        .contain-login .contain .overlay-info-signin-active {
          display: block;
          animation: overlayInfoSlidetoLeft 1s; }
      .contain-login .contain .overlay-info .picLog img {
        margin-top: 50%;
        width: 50%;
        background-color: white;
        border-radius: 50%;
        margin-left: 50%;
        transform: translateX(-50%); }
    .contain-login .contain .overlay-form {
      padding: 2rem 1rem;
      position: relative; }
      .contain-login .contain .overlay-form-1 {
        position: absolute;
        top: 0;
        left: 0; }
        .contain-login .contain .overlay-form-1-active {
          animation: overlayform-1toLeft 1s; }
        .contain-login .contain .overlay-form-1-disable {
          animation: overlayform-1toRight 1s; }
      .contain-login .contain .overlay-form-2-active {
        animation: overlayformSlidetoLeft 1s; }
      .contain-login .contain .overlay-form-2-disable {
        animation: overlayformSlidetoRight 1s; }
      .contain-login .contain .overlay-form .text-label {
        font-size: .9rem !important; }
      .contain-login .contain .overlay-form .feedback-text {
        text-align: end; }
      .contain-login .contain .overlay-form .button-group {
        margin-top: 20% !important; }
        .contain-login .contain .overlay-form .button-group button {
          background-color: #861818;
          color: white;
          letter-spacing: .2rem;
          font-weight: bold; }
          .contain-login .contain .overlay-form .button-group button:hover {
            transition: all .5s;
            color: #861818;
            background-color: #a74242;
            box-shadow: 0 0 2px 1px #a74242; }
      .contain-login .contain .overlay-form .textSignin {
        text-align: end;
        margin-top: 10px;
        color: #861818; }

#signIn {
  background-color: blueviolet; }
  #signIn .contain-2 {
    display: block; }

.productItem {
  width: 100%;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 5rem 0;
  border-radius: 5px;
  transition: all .5s ease-out; }
  .productItem:hover {
    box-shadow: 0px 3px 8px 3px rgba(134, 24, 24, 0.3);
    transform: translateY(-3px);
    transition: all .5s ease-out; }
  .productItem a:hover {
    text-decoration: none; }
  .productItem .main-container {
    padding: 4rem !important;
    width: 100%; }
    .productItem .main-container img {
      width: 100%;
      height: auto; }
    .productItem .main-container .primary-content {
      color: #861818;
      text-align: center;
      padding: 40px; }
      .productItem .main-container .primary-content .head-text {
        font-size: 3rem;
        font-weight: bold;
        border-bottom: 2px solid #861818;
        min-width: 100%; }
      .productItem .main-container .primary-content .price-text {
        font-size: 1.8rem;
        margin-top: 1.2rem; }
      .productItem .main-container .primary-content .info-text {
        font-size: 1.8rem; }
    .productItem .main-container .secondary-content {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #a74242;
      z-index: -1;
      opacity: 0;
      min-height: 1%;
      min-width: 1%;
      border-radius: 5px;
      text-align: center;
      transition: all .6s ease-out; }
      .productItem .main-container .secondary-content-text {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        opacity: 0;
        color: white;
        transition: all .6s ease-out; }
    .productItem .main-container:hover .secondary-content {
      z-index: 10;
      opacity: 1;
      min-height: 100%;
      min-width: 100%;
      transition: all .6s ease-out; }
      .productItem .main-container:hover .secondary-content-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: all .6s ease-out; }

.userInfo-container {
  min-height: 60vh; }
  .userInfo-container .row {
    text-align: center; }
    .userInfo-container .row-1 .img-content {
      margin: 5rem 0; }
      .userInfo-container .row-1 .img-content img {
        border-radius: 50%;
        height: 50vh;
        padding: 2rem;
        background-color: #861818; }
    .userInfo-container .row-1 .text-content {
      font-size: 1.8rem; }
    .userInfo-container .row-2 {
      margin: 5rem 0; }
      .userInfo-container .row-2 .icon {
        font-size: 3.5rem;
        color: white;
        padding: 2rem;
        margin: 0 2rem;
        background-color: #861818;
        border-radius: 50%; }
        .userInfo-container .row-2 .icon:hover {
          background-color: black;
          transition: all 1s; }

.patientlist-table {
  min-height: 100vh; }

.contain-patient {
  min-height: 100vh; }

.col-header {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px; }

.col {
  font-size: 16px; }

.row-highlight {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #861818;
  padding-left: 15px; }

.btn-download {
  font-size: 16px;
  background-color: orangered;
  border: none;
  text-align: center;
  border-radius: 10px;
  width: inherit;
  height: inherit;
  padding: 10px; }

.form-control {
  width: 50%; }
