/*
0 - 600 px          Phone
600 - 900 px        Tablet portrait
900 - 1200 px       Tablet Landscape
1200 - 1800 px      Desktop
1800+               Big Desktop
// Type-1
@mixin respond-phone {
    @media (max-width: 600px) { @content };
}
$breakpoint arguement choice:
-phone
-tab-port
-tab-land
-big-desktop
*/
html {
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

* {
  box-sizing: border-box; }

.Container-Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #861818; }
  .Container-Header-logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 2rem; }
  .Container-Header ul {
    justify-content: space-around;
    display: none; }
    .Container-Header ul li {
      list-style: none;
      color: white;
      font-weight: bold; }

.burger div {
  width: 2.5rem;
  height: .3rem;
  background-color: white;
  margin: .5rem; }

@media (min-width: 48.05em) {
  .Container-Header ul {
    width: 60%;
    display: flex; }
    .Container-Header ul li {
      font-size: 1.4rem;
      letter-spacing: .3rem; }
  .Container-Header-logo {
    font-size: 2rem; }
  .burger {
    display: none; } }
