@font-face {
    font-family: "Work-Regular";
    src: url("./fonts/WorkSans-Regular.ttf");
}

html {
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: 'Work-Regular';
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
}

.row {
    margin: 0px !important;
    padding: 0px !important;
}