footer {
    background-color: $color-1;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;

    position: static; 
    right: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    color: white;
}