.Container-Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(134, 24, 24);

    &-logo{
        color: white;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-size: 2rem;
    }

    & ul{
        justify-content: space-around;
        display: none;

        & li {
            list-style: none;
            color: white;
            font-weight: bold;
        }
    }
}

.text-link {
    text-decoration: none;
    color: white;
}

.burger {

    & div {
        width: 2.5rem;
        height: .3rem;
        background-color: white;
        margin: .5rem;
    }
}

@include respond (tab-port) {
    .Container-Header {
        & ul {
            width: 60%;
            display: flex;

            & li {
                font-size: 1.4rem;
                letter-spacing: .3rem;
            }
        }

        &-logo {
            font-size: 2rem;
        }
    }

    .burger {
        display: none;
    }
}

@include respond(tab-land) {

}