.navbar {
    background-color: $color-1 ;

    &-brand {
        text-align: center !important;

        & .logo-content {
            background-color: $white;
            width: 8rem; 
            height: 8rem;
            position: relative;
            border-radius: 50%;

            & img {
                width: 12rem;
                height: 10rem;
                padding: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    &-toggler {
        & .logo-content {
            background-color: $white; 
            width: 9rem; 
            height: 9rem;
            position: relative;
            border-radius: 50%;

            & img {
                width: 10rem;
                height: 8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    &-nav {
        margin-left: auto;
        margin-right: 5rem;
        animation: navbarSlideUp 1s ;
    
        & .nav-item {
            margin-left: 2rem;
            font-size: 1.7rem;
            font-weight: bold;
            padding: 0;
            border-radius: 1rem;

            & .nav-link {
                padding: 3rem 2rem !important;
                color: $white;
                cursor: pointer;
                user-select: none;
            }

            &:hover {
                background-color: $white;
                transition: all .3s;
                & .nav-link {
                    color: $color-1;
                    text-shadow: 1px 1px 2px $color-2;

                }
            }
        }
    }
}


